<div class="content-container block-handle"
     data-id="layouts/vlayout/modules/QuotingTool/resources/js/views/blocks/tbl_two_columns.html">
    <div class="content-editable">
        <div contenteditable="true">
            <div class="quoting_tool-cke-keep-element">
                <table border="1" cellspacing="0" cellpadding="6"
                       class="quoting_tool-cke-keep-element"
                       style="width: 100%; border-collapse: collapse;">
                    <tbody>
                    <tr>
                        <td colspan="4"
                            style="text-align: center; cursor: pointer; font-weight: bold;" class="show-config">
                            Click here to configure
                        </td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-left-options"
         ng-class="{'force-show': app.data.blocks.tbl_one_column.layout.enable_move}">
        <div class="doc-block__control btn--block-control doc-block__control--drag quoting_tool-btn-options-item"
             ng-show="app.data.blocks.tbl_two_columns.layout.enable_move">
            <i class="icon-align-justify"></i>
        </div>
    </div>

    <div class="quoting_tool-btn-options quoting_tool-btn-right-options"
         ng-class="{'force-show': app.data.blocks.tbl_one_column.layout.enable_setting || app.data.blocks.tbl_one_column.layout.enable_remove}">
        <div class="doc-block__control btn--block-control btn--block-control-settings quoting_tool-btn-options-item"
             ng-show="app.data.blocks.tbl_two_columns.layout.enable_setting"
             ng-click="setting($event, app.data.blocks.tbl_two_columns)">
            <i class="icon-cog"></i>
        </div>
        <div class="doc-block__control btn--block-control btn--block-control-del quoting_tool-btn-options-item"
             ng-show="app.data.blocks.tbl_two_columns.layout.enable_remove"
             ng-click="remove($event)">
            <i class="icon-trash"></i>
        </div>
    </div>
</div>