/* ********************************************************************************
 * The content of this file is subject to the Quoting Tool ("License");
 * You may not use this file except in compliance with the License
 * The Initial Developer of the Original Code is VTExperts.com
 * Portions created by VTExperts.com. are Copyright(C) VTExperts.com.
 * All Rights Reserved.
 * ****************************************************************************** */

.mark-required {
    display: none;
    width: 0;
    height: 0;
}

.cke_show_borders table.cke_show_border,
.cke_show_borders table.cke_show_border > tr > td,
.cke_show_borders table.cke_show_border > tr > th,
.cke_show_borders table.cke_show_border > tbody > tr > td,
.cke_show_borders table.cke_show_border > tbody > tr > th,
.cke_show_borders table.cke_show_border > thead > tr > td,
.cke_show_borders table.cke_show_border > thead > tr > th,
.cke_show_borders table.cke_show_border > tfoot > tr > td,
.cke_show_borders table.cke_show_border > tfoot > tr > th {
    border: 1px dotted rgba(255,255,255,1);
    line-height: 18px;
}
.left-td {
    height: 36px;
}
.tr-table{
    height: 36px;
}


input,
textarea,
.uneditable-input {
    display: inline-block;
    padding: 4px;
    margin: 2px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 18px;
    border: 1px dotted rgba(255,255,255,1);
}
