<div class="quoting_tool-tool-items">
    <div class="quoting_tool-tool-items-main">
        <ul class="list list--tabs list--justified m--bottom">
            <li ng-class="{'active': section == SECTIONS.DECISION}">
                <a href="" ng-click="showSection(SECTIONS.DECISION)">{{ 'General' | translate }}</a>
            </li>
        </ul>

        <div class="quoting_tool-tool-items-container" resize>

            <!-- decision sections-->
            <div class="btn-sq-holder m--bottom" style="margin-right: 0;"
                 ng-if="section == SECTIONS.DECISION">
                <div ng-include="'layouts/vlayout/modules/QuotingTool/resources/js/views/right_panel/general_decision.html'"
                     onload="load_decision()"></div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>