<li>
    <table>
        <tr>
            <td>
                <img src="layouts/vlayout/skins/images/drag.png" class="cursorPointerMove"
                     border="0" title="Drag">
            </td>
            <td>
                <input type="text" name="inputTable" value="">
            </td>
            <td style="padding: 0">
                <div class=" btn--block-control quoting_tool-btn-options-item" data-modal="modal-window-one"  ng-click="showPopupSettingField($event)">
                    <i class="icon-cog"></i>
                </div>
            </td>
            <td style="padding-left: 2px">
                <div class=" btn--block-control quoting_tool-btn-options-item" ng-click="removeFieldTable($event)">
                    <i class="icon-trash"></i>
                </div>
            </td>
        </tr>
    </table>
</li>
