<div class="quoting_tool-tool-items">
    <div class="quoting_tool-tool-items-main">
        <ul class="list list--tabs list--justified m--bottom">
            <li ng-class="{'active': section == SECTIONS.THEMES}">
                <a href="" ng-click="showSection(SECTIONS.THEMES)">{{ 'Theme' | translate }}</a>
            </li>
        </ul>

        <div class="quoting_tool-tool-items-container" resize>
            <!-- themes sections-->
            <div class="btn-sq-holder m--bottom" style="margin-right: 0;">
                <div ng-include="'layouts/v7/modules/QuotingTool/resources/js/views/right_panel/background_themes.html'"
                     onload="load_background()"></div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>