
<h3 class="redsign-blocks">Design Elements </h3>

<div class="btn btn--sq-icon block-handle quoting_tool-drag-component-to-content"

     ng-repeat="block in app.data.blocks" ng-if="block.layout.name == 'Heading' || block.layout.name == 'Text' || block.layout.name == 'Cover page' || block.layout.name == 'Image' || block.layout.name == 'Line break' || block.layout.name == 'Line' || block.layout.name == 'Page break' || block.layout.name == 'Page footer' || block.layout.name == 'Page header' || block.layout.name == 'Video' || block.layout.name == 'Table' || block.layout.name == 'Toc'"
           ng-click="addBlock(block)" data-id="{{block.layout.id}}" on-finish-render-item="ngRepeatBlockFinished">
    <span class="btn--sq-icon__bd" title="{{ block.layout.name | translate}}">
        <i class="icon icon--xbig icon--clear-background-image {{block.layout.icon}}"></i>
        <span ng-if="block.layout.icon_supplement" class="icon-supplement">{{ block.layout.icon_supplement }}</span>
        <span class="btn--sq-icon__text">{{ block.layout.name | translate}}</span>
    </span>

</div>
<h3 class="redsign-blocks">Data Elements </h3>
<div class="btn btn--sq-icon block-handle quoting_tool-drag-component-to-content"

     ng-repeat="block in app.data.blocks" ng-if="block.layout.name == 'Table(1 col)' ||  block.layout.name == 'Table(2 cols)' ||  block.layout.name == 'Related module' ||  block.layout.name == 'Pricing table (IDC)' ||  block.layout.name == 'Pricing table'"
     ng-click="addBlock(block)" data-id="{{block.layout.id}}" on-finish-render-item="ngRepeatBlockFinished">
    <span class="btn--sq-icon__bd" title="{{ block.layout.name | translate}}">
        <i class="icon icon--xbig icon--clear-background-image {{block.layout.icon}}"></i>
        <span ng-if="block.layout.icon_supplement" class="icon-supplement">{{ block.layout.icon_supplement }}</span>

        <span ng-if="block.layout.name == 'Related module'" class="btn--sq-icon__text break-line" id="breakline-related">{{ block.layout.name | translate}}</span>
        <span ng-if="block.layout.name == 'Pricing table'" class="btn--sq-icon__text break-line" id="breakline-pricing">{{ block.layout.name | translate}}</span>
        <span ng-if="block.layout.name == 'Pricing table (IDC)'" class="btn--sq-icon__text break-line" id="breakline-pricing-idc">{{ block.layout.name | translate}}</span>
        <span ng-if="block.layout.name == 'Table(1 col)' || block.layout.name == 'Table(2 cols)'" class="btn--sq-icon__text">{{ block.layout.name | translate}}</span>

    </span>

</div>