<div id="popup_settings_pricing_table" class="modal-settings"
     data-type="blocks" data-target="pricing_table" data-name="settings_pricing_table"
     data-template="layouts/vlayout/modules/QuotingTool/resources/js/views/popups/settings_pricing_table.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ 'Settings' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="form">
            <table class="table_settings_pricing_table_fields">
                <tbody>
                <tr name="quoterStatus" hidden>
                    <td colspan="2"><span style="color: red">It appears that you have Item Details Customizer
                            (Advanced) installed.
                            To properly configure pricing table - please add IDC Pricing Table element instead.
                            <a target="_blank" href="https://www.vtexperts.com/helpdesk/document-form-designer-digital-signature/"
                               style="text-decoration: underline !important;">
                                Please click here for instructions</a></span>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Fields' | translate }}</th>
                    <td>
                        <select id="settings_pricing_table_fields" class="quoting_tool-selector"
                                vtiger-select2='{"sortable": true}' multiple
                                ng-model="settings.pricing_table.item_fields"
                                ng-options="field as field.label group by field.block.label for field in inventoryFields"
                                custom-option-attributes="inventoryFields">
                            <option>-- {{ 'Select' | translate }} --</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Total' | translate }}</th>
                    <td>
                        <select id="settings_pricing_total_fields" class="quoting_tool-selector"
                                vtiger-select2='{"sortable": true}' multiple
                                ng-model="settings.pricing_table.total_fields"
                                ng-options="field as field.label for field in tableBlockTotal"
                                custom-option-attributes="tableBlockTotal">
                            <option>-- {{ 'Select' | translate }} --</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Theme' | translate }}</th>
                    <td>
                        <label class="table-theme-label" ng-repeat="item in tableBlockTheme">
                            <input type="image"
                            ng-src="{{item.image}}"
                            ng-model="settings.pricing_table.theme"
                            ng-click="changeTableBlockTheme($event, item)"
                            ng-class="{'selected': settings.pricing_table.theme == item}"
                            alt="" class="table-theme-image">
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-submit" ng-click="changeSetting($event)">{{ 'OK' | translate }}</button>
    </div>
</div>