<div class="modal-dialog modal-lg">
    <div id="popup_settings_heading" class="modal-content modal-settings"
         data-type="blocks" data-target="heading" data-name="settings_heading"
         data-template="layouts/v7/modules/QuotingTool/resources/js/views/popups/settings_heading.html">
        <form class="form-horizontal" action="#">
            <div class="modal-header">
                <div class="clearfix">
                    <div class="pull-right ">
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true" class='fa fa-close'></span>
                        </button>
                    </div>
                    <h4 class="modal-title">{{ 'Settings' | translate }}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table no-border">
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" name="indexing" checked="checked" class="pull-left">
                                    &nbsp;
                                    <span>{{ 'Show in Table of Contents?' | translate }}</span>
                                </label>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-primary btn-submit"
                            ng-click="changeSetting($event)">{{ 'OK' | translate }}</button>
                </center>
            </div>
        </form>
    </div>
</div>